# Dependencies
node_modules
.pnpm-store

# Build output
dist
coverage

# Development files
.vscode
.cursor
.git
.github
.gitignore

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Other
README.md 